.movie-detail{
    height: 400px;
    width: 30%;
    margin-bottom: 20px;
    background-color: lightcyan;
    border: 1px solid black;
    box-sizing: border-box;
}
.movie-detail:hover{
    cursor: pointer;
}